/**
 * Material.App - AdminNavbar stylesheets.
 *
 * @ 06.02.2020 # Aleksandr <Vorkunov.Al.Va@omega.sbrf.ru>
 */

.AdminNavbar{
    padding-top: 8px;
    padding-bottom: 8px;
}

.AdminNavbar .fa{
    font-family: "FontAwesome";
    font-style: normal;
}

.AdminNavbar .navbar-brand{
    padding-left: 25px !important;
    padding-right: 20px !important;
}
